
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% if site.allowsearch ==  true %}
<script src="{{ site.baseurl }}/static/js/super-search.js"></script>
{% endif %}
<script src="{{ site.baseurl }}/static/js/thickbox-compressed.js"></script>
<script src="{{ site.baseurl }}/static/js/material.min.js"></script>
<script src="{{ site.baseurl }}/static/js/main.js"></script>
<script src="{{ site.baseurl }}/static/js/projects.js"></script>

<script>
   // Check if a new cache is available on page load.
  window.addEventListener('load', function(e) {
    window.applicationCache.addEventListener('updateready', function(e) {
      if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
          window.location.reload()
      } else {
        // Manifest didn't changed. Nothing new to server.
      }
    }, false);

  }, false);
</script>
