---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}

    <div class="projects row">
    {% for i in site.data.heroes %}
    <div class="project-item col-md-4 col-sm-6 col-xs-12">
    	<div class="well project-outer">
    		<div class="project-inner">
    			<a href="/static/img/heroes/{{ i.image }}" class="thickbox">
    			<div class="project-img bordered" style="background-image: url('/static/img/heroes/{{ i.image }}');"></div>
                </a>
    			<h3 class="project-headlines">{{ i.name }}</h3>
    			</a>
    			<div class="project-content">
    				<div class="tag-holder">
    				{% if i.info %} 
    				<span>{{ i.info }}</span>
    				{% endif %}
    				</div>
    				
    			</div>
    			<div class="project-footer"> 
    				{% if i.facebook %} 
    				<a href="https://facebook.com/{{ i.facebook }}" class="fa fa-facebook fa-2x"></a>
					{% endif %}
					{% if i.twitter %} 
    				<a href="https://twitter.com/@{{ i.twitter }}" class="fa fa-twitter fa-2x"></a>
					{% endif %}
					{% if i.github %} 
    				<a href="https://github.com/{{ i.github }}" class="fa fa-github fa-2x"></a>
					{% endif %}
					{% if i.link %} 
    				<a href="{{ i.link }}" class="fa fa-link fa-2x"></a>
					{% endif %}
    			</div>
    		</div>
    	</div>
        </div>
    {% endfor %}
    </div>
  </div>

</article>
