---
layout: default
---
<article class="post">
	<div class="post-content">
    	<h3>I nostri heroes!</h3>
		<style>
			.btn {
				border: 2px solid black;
				background-color: white;
				padding: 7px 17px;
				font-size: 11px;
				text-align: center
			}
			/* WTM */
			.WTM {
				border-color: #008080;
				color: #008080!important;
			}
			.WTM:hover {
				border-color: #008080;
				background-color: #008080!important;
				color: #fff!important;
			}
			/* Organizer */
			.organizer {
				border-color: #492aa0;
				color: #492aa0!important
			}
			.organizer:hover {
				border-color: #492aa0;
				background-color: #492aa0!important;
				color:white!important;
			}
			/* Former Manager */
			.formermanager {
				border-color: #ff9800;
				color: orange!important;
			}
			.formermanager:hover {
				border-color: #ff9800;
				background-color: orange!important;
				color: white!important;
			}
			/* Helper */
			.generichelper {
				border-color: green;
				color: green!important;
			}
			.generichelper:hover {
				border-color:green;
				background-color: green!important;
				color: white!important;
			}
			/* Founder */
			.founder{
				border-color: red;
				color: red!important;
			}
			.founder:hover{
				border-color: red;
				background-color: red!important;
				color:white!important;
			}

			.card-heroes {
				display: inline-block;
				background-color: white!important;
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
				transition: 0.3s;
				border-radius: 5px; /* 5px rounded corners */
				width: 300px!important;
				margin-bottom: 10px;
				margin-right: 5px;
				vertical-align: middle!important;
			}
			
			/* On mouse-over, add a deeper shadow */
			.card-heroes:hover {
				box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
			}
			
			/* Add some padding inside the card container */
			.card-heroes-container {
				padding: 2px 16px;
			}

			.card-heroes-img {
				margin: auto;
				border-radius: 5px 5px 0 0;
				width: 300px;
				height: 300px;
			}
		</style>
    	<div class="projects row">
		{% include heroes_tags.html %}
		{% for i in site.data.heroes %}
		<div class="project-item card-heroes" data-tags='{{ i.tags | jsonify | downcase }}'>
			<img class="card-heroes-img" src="/static/img/heroes/{{ i.image }}" alt="{{ i.name }}">
			<div class="card-heroes-container">
				<h3 style="font-weight: bold">{{ i.name }}</h4>
				<p>{{ i.info }}</p>
				<br>
				<div class="tag-holder" style="display: inline-block!important;">
					{% for j in i.tags %}
						{% if j %}
							{% if j == 'Organizer' %}
								<button class="label tags tag-filter btn organizer" onclick="#"">{{ j }}</button>
							{% elsif j == 'Former Organizer' %}
								<button class="label tags tag-filter btn formermanager">{{ j }}</button>
							{% elsif j== 'Founder' %}
								<button class="label tags tag-filter btn founder">{{ j }}</button>
							{% elsif j== 'WTM' %}
								<button class="label tags tag-filter btn WTM">{{ j }}</button>
							{% else %}
								<button class="label tags tag-filter btn generichelper">{{ j }}</button>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div style="padding-left: 17px;padding-bottom: 5px"> 
				{% if i.facebook %} 
					<a href="https://facebook.com/{{ i.facebook }}" target="_blank" class="fa fa-facebook fa-2x"></a>
				{% endif %}
				{% if i.twitter %} 
					<a href="https://twitter.com/@{{ i.twitter }}" target="_blank" class="fa fa-twitter fa-2x"></a>
				{% endif %}
				{% if i.instagram %} 
					<a href="https://instagr.am/{{ i.instagram }}" target="_blank" class="fa fa-instagram fa-2x"></a>
				{% endif %}
				{% if i.github %} 
					<a href="https://github.com/{{ i.github }}" target="_blank" class="fa fa-github fa-2x"></a>
				{% endif %}
				{% if i.linkedin %} 
					<a href="https://linkedin.com/in/{{ i.linkedin }}" target="_blank" class="fa fa-linkedin fa-2x"></a>
				{% endif %}
				{% if i.link %} 
					<a href="{{ i.link }}" target="_blank" class="fa fa-link fa-2x"></a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</article>
