/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700,100italic,300italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
    background: #ECF0F1;
}

.reveal {
    font-family: "Roboto", "Lato", sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #2980B9;
}

::selection {
    color: #fff;
    background: #d33682;
    text-shadow: none;
}

.reveal .slides > section,
.reveal .slides > section > section {
    line-height: 1.3;
    font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #3498DB;
    font-family: "Roboto", "League Gothic", Impact, sans-serif;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 3.77em;
}

.reveal h2 {
    font-size: 2.11em;
}

.reveal h3 {
    font-size: 1.55em;
}

.reveal h4 {
    font-size: 1em;
}

.reveal h1 {
    text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal q,
.reveal blockquote {
    quotes: none;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal blockquote p.quotefooter {
    font-size: 80%;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
    font-family: monospace;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: hidden;
    max-height: 400px;
    word-wrap: normal;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal table tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #268bd2;
    text-decoration: none;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    transition: color 0.15s ease;
}

.reveal a:hover {
    color: #78b9e6;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #1a6091;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    border: 4px solid #268bd2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #268bd2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: #268bd2;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: #268bd2;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: #268bd2;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: #268bd2;
}

.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #78b9e6;
}

.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #78b9e6;
}

.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #78b9e6;
}

.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #78b9e6;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
    background: #268bd2;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * CUSTOM STYLES
 *********************************************/

.reveal blockquote.colored {
    background: rgba(101, 123, 131, 0.10);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 200px;
    height: 200px;
    border: none !important;
    box-shadow: none;
}

.fragment.highlight-red.visible {
    color: #E74C3C !important;
}

.hljs {
    background-color: #2C3E50 !important;
}

.myred {
    color: #E74C3C !important;
}

.author {
    color: white;
    width: 50%;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
}

.author a {
    color: white;
}

.img-noborder {
    margin: 0px !important;
    background: transparent !important;
    border: 0px !important;
    box-shadow: 0 0 0px transparent !important;
}

.final {
    color: #3498DB !important;
}

.author .final a {
    color: #3498DB !important;
}

.author.nico {
    float: left;
    text-align: left;
}

.author.other {
    float: right;
    text-align: right;
}

.author h3 {
    line-height: 45px;
    color: white;
}

.author .job {
    line-height: 30px !important;
    font-size: 24px !important;
}

.author .contacts {
    line-height: 34px !important;
    font-size: 24px !important;
}

/*********************************************
 * CUSTOM STYLES
 *********************************************/

.reveal blockquote.smallquote {
    font-size: 70%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
}

.reveal blockquote.smallquote p:first-child {
    margin-top: 0 !important;
}

.reveal blockquote.smallquote p:last-child {
    margin-bottom: 0 !important;
}

.reveal pre.noshadow {
    box-shadow: none;
}

.reveal code.markable,
.reveal code.markable span {
    /*color: grey !important;*/
}

.reveal code.markable mark {
    /*color: transparent !important;*/
    /*background-color: transparent !important;*/
    /*font-weight: 100;*/
}

.fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}

.home.slide-background {
    background-color: #2980B9 !important;
}

.home > * {
    color: #ECF0F1 !important;
}

.questions.slide-background::before {
    content: "";
    width: 100%;
    height: 30vh;
    background-color: #2980B9;
    position: absolute;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
}

.questions.slide-background::after {
    content: "\f128";
    text-align: center;
    font-family: "FontAwesome", serif;
    font-size: 6vh;
    border-radius: 10vh;
    color: #ECF0F1;
    width: 10vh;
    height: 10vh;
    line-height: 10vh;
    background-color: #d33682;
    position: absolute;
    right: 10vw;
    top: 30vh;
    margin-top: -5vh;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
}

.questions h1 {
    color: #ECF0F1 !important;
}